.side-nav{
    height: 100%;
    text-decoration: none;
    background: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 400px;
    z-index: 100;
    opacity: 0.5;
    background-color: #F9EBEA;
}
.side-nav ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
.side-nav li{
    margin: 0.5rem 0;
}
.side-nav a{
    color: red;
    font-size: 1.2rem;
    text-decoration: none;

}
.side-nav a:hover,
.side-nav a:active{
    color: #1ABC9C;
}
