footer{
    height: 100px;
    
}

.footer-container{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}
.company{
    padding-left: 25px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
}
.social{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}
.social-1{
    padding-left: 20px;
    padding-top: 10px;
}
.social-1{
    color: #fb3958;
}
.social-2{
    padding-left: 20px;
    padding-top: 10px;
}
.social-2 a{
    color: #c4302b;
}
