*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
    overscroll-behavior: none;
}
.header{
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.fullscreen-video-wrap Video{
    min-width: 100%;
    min-height: 100%;
    filter: brightness(80%);
}
.header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
}
.header-content{
    z-index: 2;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 0;
    height: 100px;  
}
.header-logo img{
    max-width: 100%;
    max-height: 100%;
}   
.header-logo{
    height: 100%;
    padding-top: 20px;
    width: 20%;
    margin-right: 0.5rem;
}
.menu{
    flex-direction: column-reverse;
    width: 100px;
    float: right;
}
.header-nav{
    width: 80%;
}
.header-nav a{
    color: white;
}
.header-nav a:hover,
.header-nav a:active{
    color: var(--tds-color--white);
    cursor: pointer;
}
.header-content h1{
    font-size: 50px;
    margin-bottom: 0;
}

.header-content ul{
    font-size: 1.5rem;
    text-align: center;
    padding-left: 200px;
}
.header-content li{
    padding: 1rem 2rem;
    display: inline-block;
    color: blue;

}

@media(max-width: 960px){
    .container{
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .header-nav{
        display: none;
    }
   
}