html{
    height: 100%;
}
body{
    height: 100%;
}
.container{ 
    flex-direction: row;
    border: 1px #ccc solid;
    flex-wrap: wrap;
}
/*Sports specific training styling*/
.sports-container{
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    background-image: url('../components/images/amine.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 15%;
    filter: brightness(90%);
}
.sports-about{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    width: 50%;
    float: right;
    margin: 0 auto;
    padding: 175px 25px 25px 25px;
    text-align: center;
    color: #DB5461;
    z-index: 2;
}
.sports-about h2{
    font-size: 50px;
    padding-top: 105px;
    font-weight: 300px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.sports-about p{
    margin: 0;
    font-size: 25px;
    font-weight: 200px;
    margin-bottom: 50px;
}
/*Personal training section Styling*/
.pt-container{
    height: 500px;
    background-color: #f9f9f9;
    margin-top: 0;
}
.pt-about{
    width: 60%;
    margin: 0 auto;
    padding-top: 70px;
}
.pt-about p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}
.pt-btn{
    padding-top: 20px;
}
/*Group training section*/
.group-container{
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}
.signature{
    width: 40%;
    font-size: 18px;
}
.sig-about{
    padding-left: 50px;
    padding-top: 70px;
    padding-right: 50px;
}
.group-video{
    width: 60%;
    margin: 0 auto;
    padding-top: 55px;
    padding-left: 50px;
}

/* @media(min-width: 768px){

} */