.container{ 
    flex-direction: row;
    border: 1px #ccc solid;
    
    flex-wrap: wrap;
}
.sports-container{
    height: 1000px;
    width: auto;
    max-width: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: #454649
}
.sports-about{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    width: 50%;
    float: left;
    border: 5px solid #FFE979;
    margin: 20px;
    padding: 25px;
    text-align: center;
    color: #DB5461;
}
.sports-about h1{
    font-size: 45px;
    padding-top: 50px;
}
.sports-about p{
    padding: 30px 50px;
}
.sports-img{
    width: 50%;
    background-image: url('../components/images/ptraining.jpg');
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.pt-container{
    height: 400px;
}
.signature{
    
}
.group-container{
    height: 500px;
}

/* @media(min-width: 768px){

} */